.agendador {
    float: right;
    margin-top: 40px;
}

.e-schedule .e-schedule-toolbar .e-tbar-btn-text{
    font-weight: 500;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
.e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: var(--azul-principal)  
}


.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: var(--azul-principal);
    font-weight: 600;
}

.e-schedule .e-vertical-view .e-clone-time-indicator, .e-schedule .e-vertical-view .e-current-time {
    color: var(--azul-principal);
    font-size: 14px;
}

.e-schedule .e-vertical-view .e-previous-timeline {
    border-top: 1px dotted var(--azul-principal);
}
.e-schedule .e-vertical-view .e-current-timeline {
    border-top: 1px solid var(--azul-principal);
}

.e-calendar .e-content td.e-today.e-selected span.e-day {
    background-color: var(--azul-principal);
    border: 1px solid var(--azul-principal);
    box-shadow: inset 0 0 0 2px var(--branco);
    color: var(--branco);
}

.e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background: var(--azul-principal);
    color: var(--branco);
    border: var(--azul-principal);
}


.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: var(--azul-principal);
}

.e-btn.e-flat.e-primary:hover, .e-css.e-btn.e-flat.e-primary:hover {
    background: rgba(227, 22, 91, .04);
    border-color: rgba(0, 0, 0, 0);
    color: var(--azul-principal);
}

.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day, .e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day {
    color: var(--azul-principal);
    font-weight: normal;
}

.e-schedule .e-month-view .e-current-date .e-date-header, .e-schedule .e-month-agenda-view .e-current-date .e-date-header {
    background: var(--azul-principal);
    border-radius: 50%;
    color: var(--branco);
    min-width: 20px;
    padding: 0 4px;
    width: fit-content;
}



.e-dropdownlist-container {
    width: 50%; 
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
    font-weight: normal; 
    line-height: normal; 
}
.e-dropdownlist-container {
    width: 50%; 
    color: rgba(0, 0, 0, .54);
}

.e-dropdownlist-container label {
    font-size: 13px; 
    font-weight: normal; 
    line-height: normal;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 2px; 
}

.e-dropdownlist-container select {
    padding: 3.8px;
    border: none;
    border-bottom: 1px solid #ccc; 
    border-radius: 0;
    width: 100%; 
    font-size: 13px; 
    color: rgba(0, 0, 0, .87);
}

.e-dropdownlist-container select:focus {
    border-bottom: 2px solid var(--azul-principal); 
    outline: none; 
}

.e-schedule .e-schedule-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::before, .e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::after, .e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before, .e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after, .e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::before, .e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::after, .e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before, .e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after, .e-filled.e-input-group.e-float-icon-left:not(.e-float-input)::before, .e-filled.e-input-group.e-float-icon-left:not(.e-float-input)::after, .e-filled.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)::before, .e-filled.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)::after, .e-filled.e-float-input.e-input-group.e-float-icon-left .e-float-line::before, .e-filled.e-float-input.e-input-group.e-float-icon-left .e-float-line::after, .e-filled.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-float-line::before, .e-filled.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-float-line::after {
    background: var(--azul-principal);
}

input.e-input::selection, textarea.e-input::selection, .e-input-group input.e-input::selection, .e-input-group.e-control-wrapper input.e-input::selection, .e-float-input input::selection, .e-float-input.e-control-wrapper input::selection, .e-input-group textarea.e-input::selection, .e-input-group.e-control-wrapper textarea.e-input::selection, .e-float-input textarea::selection, .e-float-input.e-control-wrapper textarea::selection, .e-float-input.e-small textarea::selection, .e-float-input textarea::selection {
    background: var(--azul-principal);
    color: #fff;
}

.e-float-input:not(.e-error) input:focus ~ label.e-float-text, .e-float-input.e-small:not(.e-error) input:focus ~ label.e-float-text, .e-small .e-float-input:not(.e-error) input:focus ~ label.e-float-text, .e-float-input:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-label-top.e-float-text, .e-float-input.e-small:not(.e-error) input[readonly]:focus ~ label.e-float-text, .e-small .e-float-input:not(.e-error) input[readonly]:focus ~ label.e-float-text.e-label-top, .e-float-input.e-control-wrapper.e-small:not(.e-error) input[readonly]:focus ~ label.e-float-text, .e-small .e-float-input.e-control-wrapper:not(.e-error) input[readonly]:focus ~ label.e-float-text.e-label-top, .e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-label-top.e-float-text, .e-float-input.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text, .e-small .e-float-input:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text.e-label-top, .e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text, .e-small .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input[readonly] ~ label.e-float-text.e-label-top, .e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-label-top.e-float-text, .e-float-input.e-small:not(.e-error) textarea[readonly]:focus ~ label.e-float-text, .e-small .e-float-input:not(.e-error) textarea[readonly]:focus ~ label.e-float-text.e-label-top, .e-small .e-float-input.e-control-wrapper:not(.e-error) textarea[readonly]:focus ~ label.e-float-text.e-label-top, .e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-label-top.e-float-text, .e-float-input.e-small:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text, .e-small .e-float-input:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text.e-label-top, .e-small .e-float-input.e-control-wrapper:not(.e-error).e-input-focus textarea[readonly] ~ label.e-float-text.e-label-top, .e-float-input:not(.e-error) textarea:focus ~ label.e-float-text, .e-float-input.e-small:not(.e-error) textarea:focus ~ label.e-float-text, .e-small .e-float-input:not(.e-error) textarea:focus ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text, .e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus ~ label.e-float-text, .e-small .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text, .e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus ~ label.e-float-text, .e-small .e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text, .e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text, .e-float-input.e-small:not(.e-error).e-input-focus input ~ label.e-float-text, .e-small .e-float-input:not(.e-error).e-input-focus input ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text, .e-float-input.e-control-wrapper.e-small:not(.e-error).e-input-focus input ~ label.e-float-text, .e-small .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text{
    color: var(--azul-principal);
}

.e-btn.e-flat.e-primary:focus, .e-css.e-btn.e-flat.e-primary:focus{
    background-color: var(--branco);
    color: var(--azul-principal);
}

.e-subject-container{
    width: 100% !important;
}

.e-btn.e-primary.e-active, .e-css.e-btn.e-primary.e-active {
    background: var(--azul-principal);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    color: #fff;
}
.e-input-group-icon:focus::before,
.e-input-group-icon:active::before {
    color: var(--azul-principal); 
}


.e-datetime-wrapper .e-input-group-icon.e-icons.e-active {
    color: var(--azul-principal);
}

.e-popup .e-list-item.e-active {
    color: var(--azul-principal); 
    background-color: lightgray; 
}

.e-popup .e-list-item:not(.e-active):hover {
    color: var(--azul-principal);
    background-color: lightblue; 
}

.e-radio:checked + label::before {
    background-color: #fff;
    border-color: var(--azul-principal);
}

.e-radio:checked + label::after {
    background-color: var(--azul-principal);
    color: var(--azul-principal);
}