main{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    section{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ladoEsquerdo{
        gap: 130px;
        flex-grow: 1;
        position: relative;
    }


    .ladoDireito{
        flex-grow: 1;
        width: 500px;
    }

    .logo {
        position: absolute; 
        top: 8px; 
        left: 10px;
        margin: 30px; 
        width: 150px; 
    }

    .imagemMain{
        height: 80%;
        width: 80%;
    }

    h1{
        font-size: 26px;
        font-weight: bold;
        color: var(--azul-principal);
        width: 349;
        height: 55;
    }
    h3{
        font-size: 18px;
        font-weight: 400;
        color: var(--cinza666);
        width: 279px;
        margin-bottom: 30px;
    }

}

.button{
    color: var(--branco);
    background-color: var(--azul-principal);
    width: 25%;
    height: 35px;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

@media (max-width: 1000px ){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    main .ladoEsquerdo {
        flex-grow: 0;
        width: 0;
    }

    .imagemMain{
       display: none;
    }

    .ladoDireito{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main .logo {
        width: 130px;
        display: block; 
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media(max-width: 600px){
    main .logo{
        width: 120px;
    }
}

@media (max-width: 400px){
    main .logo{
        width: 110px; 
    }

}
