/* Estilos para a barra de navegação */
.barra {
    display: flex;
    justify-content: space-between; /* Alinha logo à esquerda e botões à direita */
    align-items: center; /* Alinha os itens verticalmente */
    background-color: var(--preto); /* Cor de fundo */
    padding: 0 16px; /* Espaçamento à esquerda e à direita */
    height: 64px; /* Altura da barra */
    color: var(--branco); /* Cor do texto */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para a logo */
  .logo {
    display: flex;
    align-items: center; /* Alinha a logo verticalmente */
    font-weight: bold; /* Deixa a fonte mais forte */
    font-size: 1.5rem; /* Tamanho da fonte para a logo */
  }
  
  /* Estilos para a parte da logo */
  .logo span {
    color: var(--azul-principal); /* Cor azul para o texto */
    margin-left: 10px; /* Espaçamento à esquerda da logo */
  }
  
  .logo span b {
    color: var(--branco); /* Cor branca para a parte em negrito */
  }
  
  /* Estilos para os botões de acesso */
  .acesso {
    display: flex;
    gap: 16px;
    align-items: center; /* Alinha os botões verticalmente */
  }
  
  /* Estilos para os links de acesso */
  .acesso a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--branco); /* Cor branca para os botões */
    padding: 8px 20px; /* Espaçamento interno nos botões */
    border-radius: 8px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição suave no hover */
    cursor: pointer;
    display: inline-block;
  }
  
  /* Estilo para "Entrar" */
  .acesso .entrar {
    background-color: transparent;
    border: none;
  }
  
  .acesso .entrar:hover {
    background-color: var(--azul-principal);
    color: var(--branco);
  }
  
  /* Estilo para "Cadastrar" */
  .acesso .cadastrar {
    background-color: transparent;
    border: 1px solid var(--cinza666);
    color: var(--branco);
  }
  
  .acesso .cadastrar:hover {
    background-color: var(--azul-principal);
    border-color: var(--azul-principal);
    color: var(--branco);
  }
  
  /* Estilos para a página 404 */
  .pagina-nao-encontrada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }
  
  .conteudo {
    max-width: 800px;
    width: 100%;
  }
  
  h1 {
    font-weight: bold;
    font-size: 6rem;
    color: var(--azul-principal);
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
    color: var(--preto);
    margin-bottom: 40px;
  }
  
  .ilustracao-erro {
    margin-top: 20px;
  }
  
  /* Estilos para a imagem de erro */
  .ilustracao {
    width: 500px;
    max-width: 100%;
    height: auto;
    animation: bounce 2s infinite;
  }
  