<!-- criar-material.component.html -->
<section *ngIf="isOpen" class="criar-material">
    <button (click)="close()">
        <img class="bntFechar" src="img/close.svg" alt="Fechar">
    </button>
    <h2>{{ materialParaEditar ? 'Editar Material' : 'Criar Material' }}</h2>

    <div class="inputs">
        <div class="carregarImage" *ngIf="!selectedImage">
            <label for="imagemBanner" class="labelImage">
                <span>Clique para adicionar uma imagem</span>
                <input type="file" id="imagemBanner" accept="image/*" class="imagemBanner" (change)="onFileSelected($event)" />
            </label>
        </div>
        <div class="visualizarImage" *ngIf="selectedImage">
            <img [src]="selectedImage" alt="Pré-visualização da imagem" class="inputimage" />
            <button class="removeImage" (click)="removeImage()"><img src="img/closered.svg" alt=""></button>
        </div>

        <input type="text" placeholder="Assunto" class="Assuntoinput" [(ngModel)]="material.titulo">
        <input type="text" placeholder="Área do conhecimento" class="AreaInput" [(ngModel)]="material.areaConhecimento">

        <mat-form-field appearance="outline">
            <mat-label>Visibilidade</mat-label>
            <mat-select [(value)]="material.visibilidade">
              <mat-option value="PUBLICO">
                <mat-icon>public</mat-icon> Pública
              </mat-option>
              <mat-option value="PRIVADO">
                <mat-icon>lock</mat-icon> Privada
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        
    </div>

    <div>
        <button class="cancelar" (click)="close()">Cancelar</button>
        <button class="salvar" (click)="salvar()">Salvar</button>
    </div>
</section>