<!-- criar-material.component.html -->
<section *ngIf="isOpen" class="criar-material">
    <button (click)="close()">
        <img class="bntFechar" src="img/close.svg" alt="Fechar">
    </button>
    <h2>{{ materialParaEditar ? 'Editar Material' : 'Criar Material' }}</h2>

    <div class="inputs">
        <div class="carregarImage" *ngIf="!selectedImage">
            <label for="imagemBanner" class="labelImage">
                <span>Clique para adicionar uma imagem</span>
                <input type="file" id="imagemBanner" accept="image/*" class="imagemBanner" (change)="onFileSelected($event)" />
            </label>
        </div>
        <div class="visualizarImage" *ngIf="selectedImage">
            <img [src]="selectedImage" alt="Pré-visualização da imagem" class="inputimage" />
            <button class="removeImage" (click)="removeImage()"><img src="img/closered.svg" alt=""></button>
        </div>

        <input type="text" placeholder="Assunto" class="Assuntoinput" [(ngModel)]="material.titulo">
        <input type="text" placeholder="Área do conhecimento" class="AreaInput" [(ngModel)]="material.area_conhecimento">

        <select id="listaSuspensa" name="opcoes" [(ngModel)]="material.visibilidade">
            <option value="PUBLICO">Pública</option>
            <option value="PRIVADA">Privada</option>
        </select>
        
    </div>

    <div>
        <button class="cancelar" (click)="close()">Cancelar</button>
        <button class="salvar" (click)="salvar()">Salvar</button>
    </div>
</section>