.custom-dialog .mat-dialog-container {
    max-width: 1000px; /* Define a largura máxima */
    max-height: 600px; /* Define a altura máxima */
    border-radius: var(--mdc-dialog-container-shape, var(--mat-app-corner-extra-large, 0px));
}
