.container {
  height: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  
}

.barra {
  background-color: var(--preto);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
}

.barra span {
  color: var(--azul-principal);
}

.barra span b,
.barra button {
  color: var(--branco);
}

.barra .logo {
  display: flex;
  align-items: center; 
  font-weight: bold;
}

.barra .logo mat-icon {
  margin-right: 8px;
}

.sidenav {
  max-width: 250px;
  background-color: var(--branco);
  margin-top: 64px;
  height: calc(100% - 64px);
  transition: width 0.3s;
  padding-top: 15px;
}


.sidenav.minimized {
  width: 80px;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 12px;
  transition: padding 0.3s;
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box; 
}

.list-item.active {
  box-shadow: inset 5px 0 0 0 var(--azul-principal);
  background-color: transparent; 
  border-radius: 0;
}

.list-item.active .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--preto); 
}

.list-item .mat-icon {
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle;
}

.list-item span {
  font-size: 16px;
  vertical-align: middle;
}

.sidenav.minimized .list-item span {
  display: none;
}

::ng-deep .mat-icon {
  margin-right: 24px;
  font-size: 28px;
}

.mat-icon {
  height: 28px;
  width: 28px;
}

.barpesquisa {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.pesquisa {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--cinza-claro);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 32px;
}

.pesquisarBotao {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.pesquisa input {
  flex: 1;
  padding: 0 10px;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  color: var(--cinza-claro);
}

.pesquisa input::placeholder {
  color: var(--cinza-claro);
  opacity: 1;
}

.user-inicial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--azul-principal); 
  color: var(--branco); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 16px; 
}
/* Estilização do menu suspenso */
.dropdown-menu {
  position: absolute;
  top: 50px; 
  right: 0;
  background-color: white;
  border: 1px solid var(--cinzaccc);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 220px; 
  min-height: 200px; 
  padding: 10px;
  display: block;
  overflow: auto;
  overflow: hidden;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  color: rgba(0, 0, 0, .87);
  box-sizing: border-box;
}

.dropdown-menu ul li {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.dropdown-menu mat-icon {
  font-size: 18px; 
  margin-right: 10px;
  color: var(--cinza-escuro);
  padding: 5px 0;
}

.dropdown-menu ul li {
  font-size: 14px; 
}

.dropdown-menu button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.dropdown-menu ul li:hover {
  background-color: var(--cinza-claro);
}











