<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />



    <mat-sidenav-container class="barraL">
        <mat-sidenav #sidenav mode="over" class="sidenav">
          <mat-nav-list>
            <mat-list-item routerLink="/home"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home</mat-list-item>
            <mat-list-item routerLink="/tarefas"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="task"></mat-icon>Tarefas</mat-list-item>

            <mat-list-item routerLink="/materiais"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="library_books"></mat-icon>Materiais</mat-list-item>
          
            <mat-list-item routerLink="/config"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>  Config</mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
      
        <mat-sidenav-content>
          <mat-toolbar class="barra">
            <button mat-icon-button (click)="sidenav.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Study<b>link</b></span>
          </mat-toolbar>
      
          <div class="conteudo">
            <!-- Conteúdo principal da página -->
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
      
      
      
    