.container {
  height: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
}

.barra {
  background-color: var(--preto);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
  flex-wrap: wrap;
}

.barra span {
  color: var(--azul-principal);
}

.barra span b,
.barra button {
  color: var(--branco);
}

.barra .logo {
  display: flex;
  align-items: center; 
  font-weight: bold;
  z-index: 10; /* Garante que o logo fique acima da barra de pesquisa */
}

.barra .logo mat-icon {
  margin-right: 8px;
}

.sidenav {
  max-width: 250px;
  background-color: var(--branco);
  margin-top: 64px;
  height: calc(100% - 64px);
  transition: width 0.3s;
  padding-top: 15px;
}

.sidenav.minimized {
  width: 80px;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 12px;
  transition: padding 0.3s;
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box; 
}

.list-item.active {
  box-shadow: inset 5px 0 0 0 var(--azul-principal);
  background-color: transparent; 
  border-radius: 0;
}

.list-item.active .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--preto); 
}

.list-item .mat-icon {
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle;
}

.list-item span {
  font-size: 16px;
  vertical-align: middle;
}

.sidenav.minimized .list-item span {
  display: none;
}

::ng-deep .mat-icon {
  margin-right: 24px;
  font-size: 28px;
}

.mat-icon {
  height: 28px;
  width: 28px;
}

.barpesquisa {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.pesquisa {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--cinza-claro);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 32px;
  transition: all 0.3s ease;
}

.pesquisarBotao {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.pesquisa input {
  flex: 1;
  padding: 0 10px;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  color: var(--cinza-claro);
}

.pesquisa.hidden {
  width: auto;
  display: flex; 
  border: none;
}

.pesquisa.hidden input {
  display: none;
}

.pesquisarBotao {
  padding: 0;
  margin: 0;
}

.pesquisa.expanded input {
  display: block;
  width: 200px; 
}

.pesquisa input::placeholder {
  color: var(--cinza-claro);
  opacity: 1;
}

.user-inicial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--azul-principal); 
  color: var(--branco); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 16px;
  z-index: 10; 
}

.dropdown-menu {
  position: absolute;
  top: 50px; 
  right: 0;
  background-color: white;
  border: 1px solid var(--cinzaccc);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 220px; 
  min-height: 200px; 
  padding: 10px;
  display: block;
  overflow: auto;
  overflow: hidden;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  color: rgba(0, 0, 0, .87);
  box-sizing: border-box;
}

.dropdown-menu ul li {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.dropdown-menu mat-icon {
  font-size: 18px; 
  margin-right: 10px;
  color: var(--cinza-escuro);
  padding: 5px 0;
}

.dropdown-menu ul li {
  font-size: 14px; 
}

.dropdown-menu button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.dropdown-menu ul li:hover {
  background-color: var(--cinza-claro);
}

/* Telas acima de 1000px */
@media screen and (min-width: 1000px) {
  .pesquisa {
    display: flex;
    max-width: 550px;
    background-color: transparent;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 0 8px;
  }

  .pesquisarBotao-fixed {
    display: none; 
  }

  .barpesquisa {
    flex: 1;
    justify-content: center; 
  }

  .pesquisa input {
    display: block;
    flex: 1;
    height: 32px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 0 8px;
    color: var(--cinza-claro);
  }
}

@media screen and (max-width: 1000px) {
  .pesquisa {
    width: 450px;
  }

  .pesquisarBotao-fixed {
    display: none; /* Ativo para telas médias */
    margin-right: 8px;
  }

  .barpesquisa {
    flex: 1;
    justify-content: center; /* Centralizado */
  }

  .pesquisa input {
    width: 80%; /* Limita o tamanho em telas médias */
  }
}

/* Telas entre 790px e 950px */
@media screen and (max-width: 950px) {
  .pesquisa {
    width: 350px;
  }

  .pesquisarBotao-fixed {
    display: none;
  }

  .pesquisa input {
    width: 75%;
  }
}

/* Telas pequenas (entre 650px e 790px) */
@media screen and (max-width: 790px) {
  .pesquisa {
    width: 300px;
    background-color: transparent;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;
  }
  .barpesquisa{
    justify-content: center;
  }

  .pesquisarBotao-fixed {
    display: none;
  }

  .pesquisa input {
    flex: 1;
    height: 32px;
  }
}

/* Telas maiores que 650px */
@media screen and (min-width: 650px) {
  .pesquisarBotao {
    display: none; 
  }

  .pesquisarBotao-fixed {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    margin: 0; /* Remova margem padrão */
    transform: translateX(-4px); /* Ajuste fino para alinhar com a seta */
  }
  
  .pesquisarBotao-fixed mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 1;
    margin: 0; /* Remova qualquer margem adicional */
    vertical-align: middle;
  }
  
}



@media screen and (max-width: 650px) {
  .sidenav {
    position: fixed;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
  }

  .mat-sidenav[mode="over"] {
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }

.pesquisarBotao-fixed {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco);
  margin-right: 0 !important ;

}

.pesquisarBotao-fixed mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

  .barpesquisa {
    position: relative;
    flex: 0;
    display: flex;
    justify-content: center;
    margin-left: 45% !important;

  }

  .pesquisa {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: var(--preto);
    z-index: 1000;
    align-items: center;
    padding: 0 16px;
    border: none;
    border-radius: 0;

  }

  .pesquisa.active {
    display: flex;
    animation: slideIn 0.3s forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .pesquisa input {
    flex: 1;
    height: 40px;
    background: transparent;
    border: none;
    color: var(--branco);
    font-size: 16px;
    padding: 0 16px;
    margin-left: 8px;
  }

  .pesquisa input::placeholder {
    color: var(--cinza-claro);
  }

  .pesquisarBotao {
    background: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seta-voltar {
    color: var(--branco);
  }

  .pesquisa .pesquisarBotao {
    margin-left: -8px;
  }

  }

  @media screen and (max-width: 550px) {
    .barpesquisa {
      margin-left: 40% !important;
    }

  }
  @media screen and (max-width: 470px) {
    .barpesquisa {
      margin-left: 30% !important;
    }

  }
  @media screen and (max-width: 410px) {
    .barpesquisa {
      margin-left: 25% !important;
    }

  }
