html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.barra {
  background-color: var(--preto);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: var(--branco);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.barra .logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.container {
  display: flex;
  height: calc(100vh - 64px);
  margin-top: 64px;
  overflow: hidden;
}

.menu-lateral {
  width: 220px;
  background-color: var(--cinza-claro);
  padding: 20px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.topoLista {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}

.topoLista img {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.topoLista h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--cinza666);
  margin: 0;
}

.menu-lateral ul {
  padding: 0;
  margin: 0;
}

.menu-lateral ul li {
  list-style: none;
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-lateral ul li a {
  text-decoration: none;
  color: var(--cinza666);
  font-weight: 600;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-lateral ul li a .icon-pasta {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 4px;
}

.menu-lateral-secundario {
  width: 280px;
  background-color: var(--branco);
  padding: 20px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  height: 100%;
}

.resize-bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  cursor: ew-resize;
  background-color: #ddd;
}

.topoAtividades {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
}

.topoAtividades h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--cinza666);
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.topoAtividades i, .topoAtividades .material-icons {
  font-size: 24px; 
  color: var(--cinza666); 
  cursor: pointer;
  margin-left: 8px; 
  transition: color 0.3s ease;
}
.cardAtividades {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  background-color: var(--branco);
  border-radius: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 90px;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.cardAtividades:hover {
  background-color: var(--cinza-claro);
}

.cardAtividades .tituloAtividades {
  color: var(--cinza666);
  font-weight: 500;
}

.cardAtividades .ultimaAlteracao {
  font-size: 0.9em;
  color: var(--cinza666);
  margin-top: -5px; 
}


.cardAtividades .icon-menu {
  font-size: 24px;
  color: var(--cinza666);
  cursor: pointer;
  margin-left: auto;  
  transition: color 0.3s ease;
}


.conteudo-principal {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--branco);
  overflow-y: auto;
  box-sizing: border-box;
}
