
.menu {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.conteudoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 7;
    width: 800px;
    margin-top: 70px;
    left: 50%;
    transform: translate(-50%);
}

