<app-layout-login
    titulo="Seja bem-vindo de volta!!"
    btnText="Entrar"
    imagem="img/students.svg"
    (enviar)="enviar()"
>
    <form [formGroup]="loginForm" class="login-form">
        <div class="campo">
            <input formControlName="email" type="email" class="borda" placeholder="E-mail">
        </div>

        <div class="campo">
            <input formControlName="senha" type="password" class="borda" placeholder="Senha">
        </div>


        <div class="esqueceu_senha">
            <input type="checkbox" class="checkbox">
            <p>Lembrar de mim</p>
            <a href="#">Esqueceu a senha?</a>
        </div>
    </form>

    <section class="selector">
        <div class="nao_tem_conta">
            <p>Não tem uma conta?</p>
            <a href="http://localhost:4200/cadastro">Inscreva-se</a>
        </div>
    <div class="divisoria">
        <div class="linha"></div>
        <span >ou</span>
        <div class="linha"></div>
    </div>

        <div class="continuarGoogle">
            <img src="/img/google-logo.svg" alt="">
            <span>Continuar com o Google</span>
        </div>
    </section>
</app-layout-login>
