<app-layout-login
    titulo="Seja bem-vindo de volta!!"
    btnText="Entrar"
    imagem="img/students.svg"
    (enviar)="enviar()"
>
    <form [formGroup]="loginForm" class="login-form">
        <div class="campo">
            <input formControlName="email" type="email" class="borda" placeholder="E-mail" (keydown.enter)="enviar()">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
                <small *ngIf="loginForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</small>
                <small *ngIf="loginForm.get('email')?.errors?.['email']">Insira um e-mail válido.</small>
            </div>
        </div>

        <div class="campo">
            <div class="input-container">
              <input 
                formControlName="senha" 
                [type]="isPasswordVisible ? 'text' : 'password'" 
                class="borda" 
                placeholder="Senha"
                (keydown.enter)="enviar()">
              <button mat-icon-button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
                <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
            </div>
            <div *ngIf="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched" class="error-message">
              <small *ngIf="loginForm.get('senha')?.errors?.['required']">A senha é obrigatória.</small>
              <small *ngIf="loginForm.get('senha')?.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres.</small>
            </div>
          </div>
          
          

        <div class="esqueceu_senha">
          <input type="checkbox" class="checkbox" formControlName="lembrarDeMim">
            <p>Lembrar de mim</p>
            <a href="#">Esqueceu a senha?</a>
        </div>
    </form>

    <section class="selector">
        <div class="nao_tem_conta">
            <p>Não tem uma conta?</p>
            <a href="/cadastro">Inscreva-se</a>
        </div>
   

        
    </section>
</app-layout-login>
