.login-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
}

.campo {
    margin-bottom: 15px;
    position: relative; 
}

.error-message small {
    display: block;
    color: #ff4d4d; 
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    opacity: 0;
    padding-left: 5px;
    position: absolute; 
    top: -35px; 
    left: 0;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

.campo input.ng-touched.ng-invalid + .error-message small {
    animation: fadeIn 0.4s ease-out forwards; 
}

.borda {
    width: 100%;
    height: 43px;
    padding: 10px;
    padding-right: 40px; 
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--cinza-claro);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.toggle-password {
    position: absolute;
    right: 10px; 
    margin-top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #b6b6b6;
}

button.toggle-password:hover {
    color: var(--cinza666); 
}
  
  button.toggle-password i {
    pointer-events: none;
  }

.campo input.ng-touched.ng-invalid {
    border: 1px solid #ff4d4d; 
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
    gap: 10px;
}

.option p {
    margin: 0;
}

.option a {
    text-decoration: none;
    color: var(--azul-principal);
    margin-left: auto;
}

.checkbox {
    scale: 1.3;
    cursor: pointer;
}

.nao_tem_conta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
    margin-top: 20px;
}

.nao_tem_conta p {
    margin: 0;
}

.nao_tem_conta a {
    text-decoration: none;
    color: var(--azul-principal);
    margin-right: auto;
}




