<router-outlet />

<header>
    <nav class="menuNavigation">
            <a href="/login">Entrar</a>
            <a href="/cadastro">Cadasto</a>
    </nav>
</header>

<main>
    <div>
        <h1>
        Transforme sua jornada de aprendizado em uma única plataforma colaborativa
        </h1>
        <h4>
        Explore uma plataforma intuitiva e moderna, onde estudantes e educadores criam, 
        organizam e compartilham materiais de estudo para impulsionar o conhecimento. 
        Aprenda de forma mais inteligente e alcance seus objetivos com as ferramentas certas.
        </h4>
</div>
</main>