<app-layout-login 
    titulo="Registrar-se!!"
    btnText="Cadastrar"
    imagem="img/studentsCadastro.svg"
    (enviar)="enviar()"
>
    <form [formGroup]="cadastroForm" class="form" (ngSubmit)="enviar()">

        <div class="campo">
            <input formControlName="nome_usuario" type="text" class="input" placeholder="Nome" (keydown.enter)="enviar()">
            <div *ngIf="cadastroForm.get('nome_usuario')?.invalid && cadastroForm.get('nome_usuario')?.touched" class="error-message">
                <small *ngIf="cadastroForm.get('nome_usuario')?.errors?.['required']">O nome é obrigatório.</small>
            </div>
        </div>

        <div class="campo">
            <input formControlName="email" type="email" class="input" placeholder="E-mail" (keydown.enter)="enviar()">
            <div *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched" class="error-message">
                <small *ngIf="cadastroForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</small>
                <small *ngIf="cadastroForm.get('email')?.errors?.['email']">Insira um e-mail válido.</small>
            </div>
        </div>

        <div class="campo">
            <div class="input-container">
                <input 
                    formControlName="senha" 
                    [type]="isPasswordVisible ? 'text' : 'password'" 
                    class="input" 
                    placeholder="Senha"
                    (keydown.enter)="enviar()">
                <button 
                    type="button" 
                    class="toggle-password" 
                    (click)="togglePasswordVisibility()">
                    <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </div>
            <div *ngIf="cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched" class="error-message">
                <small *ngIf="cadastroForm.get('senha')?.errors?.['required']">A senha é obrigatória.</small>
                <small *ngIf="cadastroForm.get('senha')?.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres.</small>
            </div>
        </div>
        
        <div class="campo">
            <div class="input-container">
                <input 
                    formControlName="confirmarSenha" 
                    [type]="isPasswordVisible ? 'text' : 'password'" 
                    class="input" 
                    placeholder="Confirmar senha">
                <button 
                    type="button" 
                    class="toggle-password" 
                    (click)="togglePasswordVisibility()"
                    (keydown.enter)="enviar()">
                    <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </div>
            <div *ngIf="cadastroForm.get('confirmarSenha')?.invalid && cadastroForm.get('confirmarSenha')?.touched" class="error-message">
                <small *ngIf="cadastroForm.get('confirmarSenha')?.errors?.['required']">A confirmação de senha é obrigatória.</small>
                <small *ngIf="cadastroForm.hasError('mismatch') && cadastroForm.get('confirmarSenha')?.touched">As senhas não coincidem.</small>
            </div>
        </div>
        

    </form>
</app-layout-login>
