<div class="main-container">
  <div class="barra">
    <img src="img/logo.svg" alt="Logo" class="logo">
    <div class="acesso">
      <a href="/login" class="entrar">Entrar</a>
      <a href="/cadastro" class="cadastrar">Cadastrar</a>
    </div>
  </div>

  <div class="conteudo-principal">
    <!-- Seção 1: Seção de texto-->
    <section class="hero">
      <div class="conteudo">
        <h1>Organize seus estudos com eficiência</h1>
        <p>Crie materiais, anotações e planeje seus estudos de maneira prática e intuitiva.</p>
       
        <a href="/cadastro" class="cta">Começar Agora</a>
      </div>
      <img src="img/agenda.jpg" alt="">
    </section>

    <!-- Seção 2 Agendador -->
    <section class="section-video section-alternada fade-in">
      <div class="video-container">
        <img src="img/materiais.jpg" alt="">
      </div>
      <div class="descricao">
        <h2>Crie materiais incríveis</h2>
        <p>Com nosso editor avançado, você pode criar materiais didáticos personalizados e compartilhar com outros estudantes.</p>
      </div>
    </section>

    <!-- Seção 3: Seção criação de materiais -->
    <section class="section-video section-alternada fade-in">
      <div class="descricao">
        <h2>Organize suas anotações</h2>
        <p>Use nossa ferramenta de edição de texto rica para criar e organizar suas anotações de forma prática.</p>
      </div>
      <div class="video-container">
        <img src="img/anotacoes.jpg" alt="">
      </div>
    </section>


  <!-- Rodapé -->
  <footer class="rodape">
    <p>© StudyLink plataforma de estudos. Todos os direitos reservados.</p>
  </footer>
</div>
