<div class="main-container">
  <div class="barra">
    <img src="img/logo.svg" alt="Logo" class="logo">
    <div class="acesso">
      <a href="/login" class="entrar">Entrar</a>
      <a href="/cadastro" class="cadastrar">Cadastrar</a>
    </div>
  </div>

  <div class="conteudo-principal">
    <!-- Seção 1: Seção de texto-->
    <section class="hero">
      <div class="conteudo">
        <h1>Organize seus estudos com eficiência</h1>
        <p>Crie materiais, anotações e planeje seus estudos de maneira prática e intuitiva.</p>
       
        <a href="/cadastro" class="cta">Começar Agora</a>
      </div>
      <img src="img/hero-image.svg" alt="Hero" class="imagem-hero">
    </section>

    <!-- Seção 2 Agendador -->
    <section class="section-video section-alternada fade-in">
      <div class="video-container">
        <video autoplay loop muted playsinline>
          <source src="img/videos/feature1.mp4" type="video/mp4">
          Seu navegador não suporta vídeos HTML5.
        </video>
      </div>
      <div class="descricao">
        <h2>Crie materiais incríveis</h2>
        <p>Com nosso editor avançado, você pode criar materiais didáticos personalizados e compartilhar com outros estudantes.</p>
      </div>
    </section>

    <!-- Seção 3: Seção criação de materiais -->
    <section class="section-video section-alternada fade-in">
      <div class="descricao">
        <h2>Organize suas anotações</h2>
        <p>Use nossa ferramenta de edição de texto rica para criar e organizar suas anotações de forma prática.</p>
      </div>
      <div class="video-container">
        <video autoplay loop muted playsinline>
          <source src="img/videos/feature2.mp4" type="video/mp4">
          Seu navegador não suporta vídeos HTML5.
        </video>
      </div>
    </section>

    <!-- Seção 4: Seção criação de materiais -->
    <section class="section-video section-alternada fade-in">
      <div class="video-container">
        <video autoplay loop muted playsinline>
          <source src="assets/videos/scheduler.mp4" type="video/mp4">
          Seu navegador não suporta vídeos HTML5.
        </video>
      </div>
      <div class="descricao">
        <h2>Planeje seus estudos</h2>
        <p>Com o nosso agendador integrado, você pode organizar tarefas e acompanhar o progresso dos seus estudos.</p>
      </div>
    </section>
  </div> 

  <!-- Rodapé -->
  <footer class="rodape">
    <p>© StudyLink plataforma de estudos. Todos os direitos reservados.</p>
  </footer>
</div>
