/* app.component.css */
.container {
    display: flex;              /* Usar flexbox para alinhar os componentes */
    flex-direction: column;     /* Colocar os componentes em coluna */
    align-items: stretch;       /* Esticar os componentes para ocupar toda a largura */
    margin: 0 auto;            /* Centralizar o contêiner */
    max-width: 1200px;         /* Largura máxima do contêiner */
    padding: 20px;             /* Espaçamento interno */
  }
  
  app-menu-pesquisa {
    margin-bottom: 20px;       /* Espaçamento entre os componentes */
  }
  
  app-agendador {
    flex-grow: 1;              /* Permite que o agendador cresça para preencher o espaço restante */
  }
  