:host {
  display: block;
  height: 100vh;
  width: 708px;
  overflow: auto; 
}

.rich-text-container {
  height: auto; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--branco);
  box-sizing: border-box;
  align-items: center;
  
}

#editor {
  width: 100%; 
  max-width: 750px;
  height: auto; 
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  overflow: hidden; 
}

.ql-toolbar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
  width: 90% !important;
  border: none !important;
  box-shadow: none !important;
}

.ql-toolbar .ql-formats {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}

.ql-editor > *:first-child {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.ql-editor::before {
  color: #999;
  font-size: 1.5rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  text-align: center;
}

.ql-editor:focus::before {
  content: '';
}

.ql-editor {
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.ql-toolbar {
  font-size: 16px !important;
}

.ql-editor h1 {
  font-size: 32px !important; 
}

.ql-editor h2 {
  font-size: 28px !important; 
}

.ql-editor h3 {
  font-size: 24px !important; 
}

.ql-editor h4 {
  font-size: 18px !important; 
}

.ql-editor h5 {
  font-size: 16px !important; 
}
