<body>
    <div class="barra">
        <img src="img/logo.svg" alt="Logo" class="logo">
        <div class="acesso">
            <a href="/login" class="entrar">Entrar</a>
            <a href="/cadastro" class="cadastrar">Cadastrar</a>
        </div>
    </div>
    
    <main class="pagina-nao-encontrada">
        <div class="conteudo">
            <h1>404</h1>
            <p>Oops! A página que você está procurando não foi encontrada.</p>
            <div class="ilustracao-erro">
                <img src="img/animacao404.gif" alt="Estudante perdido" class="ilustracao">
            </div>
        </div>
    </main>
</body>
