@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'ngx-toastr/toastr';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root{
    --azul-principal: #318CE7;
    --branco: #fff;
    --branco-escuro: #fafafa;
    --fundo-addMaterial: #f0f4ff;
    --cinza-claro: #D9D9D9;
    --cinzaccc: #ccc;
    --cinza666: #666;
    --cinza: #555;
    --cinza-escuro: #333;
    --preto: #000;

}

html, body{
    height: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
