<!-- materias.component.html -->
<app-menu-pesquisa class="menu">
    <main class="conteudoPrincipal">
        <h1 class="titulo">Organize seus materiais de estudos</h1>
        <section class="cards">
            <button class="adicionarMateria" (click)="openCriarMaterial()">+ Adicionar Material</button>

            <app-criar-material 
                *ngIf="isCriarMaterialOpen" 
                [(isOpen)]="isCriarMaterialOpen"
                [materialParaEditar]="materialParaEditar"
                (materialSalvo)="onMaterialSalvo()">
            </app-criar-material>

            <div *ngFor="let material of materiais" class="botao">
                <div class="header">
                    <img [src]="material.imagem_banner" alt="" class="background-img">
                    <a class="assunto">{{ material.titulo }}</a>
                    <a class="area">{{ material.area_conhecimento }}</a>
                </div>
                <div class="content">
                    <a class="descricao">Ver suas atividades</a>
                </div>
                <div class="footer">
                    <button (click)="openCriarMaterial(material)">
                        <img src="img/edit.svg" alt="Editar">
                    </button>
                    <button (click)="deletarMaterial(material.id!)">
                        <img src="img/delete.svg" alt="Deletar">
                    </button>
                </div>
            </div>
        </section>
    </main>
</app-menu-pesquisa>