<app-menu-pesquisa class="menu">

    <main class="conteudoPrincipal">
        <h1 class="titulo">Organize seus materiais de estudos</h1>
        <section class="cards">
            <button class="adicionarMateria">+ Adicionar Matéria</button>
            
            <button class="botao primeiro">
                <span class="AreaConhecimento">Exatas</span>
                <span class="Materia">Matematica</span>
            </button>
    
            <button class="botao segundo">
                <span class="AreaConhecimento">Linguagens</span>
                <span class="Materia">Português</span>
            </button>
            <button class="botao segundo">
                <span class="AreaConhecimento">Linguagens</span>
                <span class="Materia">Português</span>
            </button>
            <button class="botao segundo">
                <span class="AreaConhecimento">Linguagens</span>
                <span class="Materia">Português</span>
            </button>
            <button class="botao segundo">
                <span class="AreaConhecimento">Linguagens</span>
                <span class="Materia">Português</span>
            </button>
            <button class="botao segundo">
                <span class="AreaConhecimento">Linguagens</span>
                <span class="Materia">Português</span>
            </button>
        </section>
    </main>
    </app-menu-pesquisa>
    